@{
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>

<p class="text-bg-danger" >Sorry, but you don't have access to that page.</p>

<button onclick="goBack()" class="btn btn-primary">Go Back</button>

<script type="text/javascript">
function goBack() {
        window.history.back();
    }</script>
