################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs
/VAW_BAL/obj
/VAW_BAL/bin
/VAW_DAL/obj
/VAW_DAL/bin
/VAW_MODEL/obj
/VAW_MODEL/bin
/VAW_BusinessAccessLayer/obj
/VAW_BusinessAccessLayer/bin
bin/
obj/