################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs
/VAW_BAL/obj
/VAW_BAL/bin
/VAW_DAL/obj
/VAW_DAL/bin
/VAW_MODEL/obj
/VAW_MODEL/bin
/VAW_BusinessAccessLayer/obj
/VAW_BusinessAccessLayer/bin
bin/
obj/
/VAW_BusinessAccessLayer/bin/Debug/VAW_BusinessAccessLayer.dll
/VAW_BusinessAccessLayer/bin/Debug/VAW_DataAccessLayer.dll
/VAW_BusinessAccessLayer/bin/Debug/VAW_DataAccessLayer.pdb
/VAW_BusinessAccessLayer/bin/Debug/VAW_Models.dll
/VAW_BusinessAccessLayer/bin/Debug/VAW_Models.pdb
/VAW_BusinessAccessLayer/obj/Debug/VAW_BusinessAccessLayer.csproj.AssemblyReference.cache
/VAW_BusinessAccessLayer/obj/Debug/VAW_BusinessAccessLayer.csproj.CoreCompileInputs.cache
/VAW_BusinessAccessLayer/obj/Debug/VAW_BusinessAccessLayer.dll
/VAW_BusinessAccessLayer/obj/Debug/VAW_BusinessAccessLayer.pdb
/VAW_DataAccessLayer/bin/Debug/VAW_DataAccessLayer.dll
/VAW_DataAccessLayer/bin/Debug/VAW_DataAccessLayer.pdb
/VAW_DataAccessLayer/obj/Debug/VAW_DataAccessLayer.csproj.AssemblyReference.cache
/VAW_DataAccessLayer/obj/Debug/VAW_DataAccessLayer.csproj.CoreCompileInputs.cache
/VAW_DataAccessLayer/obj/Debug/VAW_DataAccessLayer.csproj.FileListAbsolute.txt
/VAW_DataAccessLayer/obj/Debug/VAW_DataAccessLayer.dll
/VAW_DataAccessLayer/obj/Debug/VAW_DataAccessLayer.pdb
/VAW_Models/bin/Debug/VAW_Models.dll
/VAW_Models/bin/Debug/VAW_Models.pdb
/VAW_Models/obj/Debug/VAW_Models.csproj.CoreCompileInputs.cache
/VAW_Models/obj/Debug/VAW_Models.dll
/VAW_Models/obj/Debug/VAW_Models.pdb
/VAW_Utility/obj/Debug/VAW_Utility.csproj.AssemblyReference.cache
/VAW_WebApplication/bin/VAW_BusinessAccessLayer.dll
/VAW_WebApplication/bin/VAW_BusinessAccessLayer.pdb
/VAW_WebApplication/bin/VAW_DataAccessLayer.dll
/VAW_WebApplication/bin/VAW_DataAccessLayer.pdb
/VAW_WebApplication/bin/VAW_Models.dll
/VAW_WebApplication/bin/VAW_Models.pdb
/VAW_WebApplication/bin/VAW_WebApplication.dll
/VAW_WebApplication/bin/VAW_WebApplication.dll.config
/VAW_WebApplication/bin/VAW_WebApplication.pdb
/VAW_WebApplication/obj/Debug/VAW_WebApplication.csproj.AssemblyReference.cache
/VAW_WebApplication/obj/Debug/VAW_WebApplication.csproj.CoreCompileInputs.cache
/VAW_WebApplication/obj/Debug/VAW_WebApplication.dll
/VAW_WebApplication/obj/Debug/VAW_WebApplication.pdb
/VAW_Models/obj/Debug/VAW_Models.csproj.AssemblyReference.cache
/VAW_WebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/VAW_WebApplication/Properties/PublishProfiles
/VAW_BusinessAccessLayer/obj/Debug/VAW_BusinessAccessLayer.csproj.FileListAbsolute.txt
/VAW_WebApplication/obj/Debug/VAW_WebApplication.csproj.FileListAbsolute.txt
