@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Vigilance Awareness Week -  @DateTime.Now.Year</h1>
        <p class="lead">For Update VAW please</p>
        <p> <a href=" @Url.Action("Login", "Account")" class="btn btn-primary btn-md">Login &raquo;</a>  </p>
   
    </section>

   
</main>