/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    padding: 48px 0 0; /* 48px offset for navbar */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0px;
    transition: margin 0.25s ease;
}

    #sidebar-wrapper.toggled {
        margin-left: 0;
    }

#page-content-wrapper {
    width: 100%;
}

.list-group-item {
    cursor: pointer;
}

.sidebar-heading {
    padding: 15px;
    font-size: 1.5rem;
    color: #333;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.link-button {
    display: inline-block; /* Allows the div to be treated like a button */
    background-color: #0094ff; /* Button background color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Spacing inside the button */
    text-align: center; /* Center the text */
    transition: background-color 0.3s; /* Smooth background color transition */
   
}

    .link-button a {
        color: white; /* Text color */
        text-decoration: none; /* Remove underline */
        font-weight: bold; /* Bold text */
        font-size:larger
    }

    .link-button:hover {
        background-color: #0056b3; /* Darker shade on hover */
    }



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.textarea-custom {
    width: 100%; /* Full width */
    height: 250px; /* Height of the textarea */
    padding: 5px; /* Inner spacing */
    border: 2px solid #007BFF; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    resize: vertical; /* Allow vertical resizing only */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

    .textarea-custom:focus {
        border-color: #0056b3; /* Change border color on focus */
        outline: none; /* Remove default outline */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Focus shadow */
    }

.textarea-custom-h-50 {
    width: 100%; /* Full width */
    height: 125px; /* Height of the textarea */
    padding: 5px; /* Inner spacing */
    border: 0.5px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    resize: vertical; /* Allow vertical resizing only */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

    .textarea-custom-h-50:focus {
        border-color: #0056b3; /* Change border color on focus */
        outline: none; /* Remove default outline */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Focus shadow */
    }



@page {
    size: 8.5in 11in;
    margin: 1.5cm;
}

@page {
    counter-increment: page;
    counter-reset: page 1;

    @top-right {
        content: "Page " counter(page) " of " counter(pages);
    }
}

table {
    font-family: 'Times New Roman', Times, serif;
}

p.MsoNormal {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 10.0pt;
    margin-left: 0cm;
    line-height: 115%;
    font-size: 11.0pt;
    font-family: "Calibri","sans-serif";
}

table > h4 {
    font-family: 'Times New Roman';
    font-size: 20pt;
}

.tblRowText > tr > td {
    font-family: 'Times New Roman';
    font-size: 13pt;
}

.tblRowTextHeading {
    font-family: 'Times New Roman';
    font-size: 16pt;
}

childhead {
    font-family: 'Times New Roman';
    font-size: 16pt;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}



table {
    page-break-inside: auto
}

tr {
    page-break-inside: avoid;
    page-break-after: auto
}

thead {
    display: table-header-group
}

tfoot {
    display: table-footer-group
}

@media print {
    table {
        page-break-after: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    td {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
}

/*
    CSS for table container div 

*/
.mainBox {
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    height: auto;
    border: 1px solid black;
    width: 98%;
}

    .mainBox .th1 {
        border-left: 1px groove #000;
    }

    .mainBox .td1 {
        border-left: 1px groove #ccc;
    }

    .mainBox th {
        border-right: 1px groove #000; /* Change color and thickness as needed */
        border-top: 1px groove #000; /* Change color and thickness as needed */
        padding: 2px; /* Optional: add padding for better appearance */
        text-align: left; /* Optional: align text */
    }

    .mainBox td {
        border-right: 1px groove #ccc; /* Optional: add border for table cells */
    }

.no-footer {
    margin-bottom: 8px !important;
}

@media print {
    table, th, td {
        border: 1px solid black; /* Set border for table, th, and td */
        border-collapse: collapse; /* Collapse borders */
    }

    th {
        background-color: #f2f2f2; /* Optional: Keep a background color for headers */
    }
    /* Optional: Hide buttons during print */
    .dt-buttons {
        display: none;
    }
}
/* styles.css */


