
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:150px;">
    <div class="offset-1 col-4 link-button" style="height:150px; padding:50px;">
        <a href="@Url.Action("Index", "ViewVigilanceAwareness")"  >Preventive Vigilance Activities</a>
    </div>
    <div class="offset-1 col-4 link-button" style="height:150px; padding:50px;">
        <a href="@Url.Action("Index", "ViewIntegrityPledge")"  >Activity Report Format</a>
    </div>
</div>

